<% include partials/header %>
<div class="container">
	<div class="row">

		<div class="myW">
			<h1>Friends</h1>
			<% friends.forEach(function(friend){ %>
			<li><%= friend.name %></li>
			<% }); %>
			<form action="/addfriend" method="POST" role="form">
				<div class="form-group">
					<input class="form-control" name="newfriend" placeholder="name" type="text"></input>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary btn-block btn-lg">Add</button>
				</div>
			</form>
			<div class="centered">
				<% include partials/footer %>
			</div>
		</div>
	</div>
</div>


