<% include partials/header %>
<div class="container">
	<h1>Friends</h1>

	<% friends.forEach(function(friend){ %>
	<li><%= friend.name %></li>
	<% }); %>
	<div class="row">
		<form action="/addfriend" method="POST">
			<input name="newfriend" placeholder="name" />
			<br>
			<br>
			<button class="btn btn-primary btn-large">Add</button>
		</form>
	</div>	
	<% include partials/footer %>
</div>
