<% include partials/header %>
<div class="container">
	<div class="row">

		<div class="myW">
			<h1>دوستان
			<span class="glyphicon glyphicon-heart red" aria-hidden="true"></span>
			</h1>
			<% friends.forEach(function(friend){ %>
			<li>
				<%= friend.name %>
				<a class="btn btn-info btn-xs " href="../friends/<%= friend._id %>">نمایش</a> 
			</li>
			<% }); %>
			<form action="/addfriend" method="POST" role="form" class="myForm">
				<div class="form-group">
					<input class="form-control" name="newfriend" placeholder="نام" type="text"></input>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary btn-block btn-lg">اضافه کردن
					<span class="glyphicon glyphicon-plus nostyle" aria-hidden="true"></span>
					</button>
				</div>
			</form>
			<% moment.locale('fa') %>
			
			<div class="centered">
			    <p> <%= moment().format('jYYYY/jM/jD, h:mm:ss a'); %></p>
				<% include partials/footer %>
			</div>
		</div>
	</div>
</div>


