body {
	direction: rtl;
	background: -webkit-linear-gradient(0deg, rgba(229,112,231,1) 0, rgba(200,94,199,1) 47%, rgba(168,73,163,1) 100%);
  background: -moz-linear-gradient(90deg, rgba(229,112,231,1) 0, rgba(200,94,199,1) 47%, rgba(168,73,163,1) 100%);
  background: linear-gradient(90deg, rgba(229,112,231,1) 0, rgba(200,94,199,1) 47%, rgba(168,73,163,1) 100%);
}

.container .row .myW h1 {
	    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
                 0px 8px 13px rgba(0,0,0,0.1),
                 0px 18px 23px rgba(0,0,0,0.1);
	font-weight: 700;
	font-size: 4em;
	text-align: center;
	margin-bottom: 30px;
}

.container {
	font-family: "BBCNassim";
	background-color: white;
	padding-top: 50px;
}

button, input, nav {
	font-family: "BBCNassim";
}

.myW {

	width: 30%; 
	margin: 20px auto;
}


li {
	list-style: none;
	text-align: center;
	font-size: 20px;
	line-height: 1.5em;
}


/*input[type="text"],[type="password"]{
	font-size: 18px;
	color: #2980b9;
	background-color: #f7f7f7;
	width: 100%;
	padding: 13px 13px 13px 20px;
	box-sizing: border-box;
	border: 3px solid rgba(0,0,0,0);
}*/


.centered {
	text-align: center;
}

@font-face {
    font-family: "BBCNassim";
    src: url("/fonts/bbc-nassim-regular.eot");
    src: local("/fonts/bbc-nassim-regular.eot"),
        url("/fonts/bbc-nassim-regular.woff") format("woff"),
        url("/fonts/bbc-nassim-regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "BBCNassim";
    src: url("/fonts/bbc-nassim-bold.eot");
    src: local("/fonts/bbc-nassim-bold.eot"),
        url("/fonts/bbc-nassim-bold.woff") format("woff"),
        url("/fonts/bbc-nassim-bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

.red {
	color: red;
}

span.glyphicon {  
   vertical-align: top;
 }

 